<section id="board_password_form" class="sub_main">
	<div class="section_top">
		<h1><%=@controller_name %></h1>
		<p class="path"><%=link_to '홈으로',root_path,:title=>'홈으로' %> &gt; <span>고객센터</span>  &gt; <strong><%=@controller_name %></strong></p>
	</div>
	<p id="notice"><%= notice %></p>	
	<%= form_tag do %>
		<div class="field">
			<%= label_tag :password,'비밀번호' %><br />
			<%= password_field_tag :password,'',{:class=>'sl_input',:required=>'required'} %> <%= submit_tag '제출' %>
		</div>
	<% end %>
	<div id="sl_content_bottom_menu">	
		<%= link_to '돌아가기', url_for(:action=>'show',:id=>@gid) %>
	</div>
</section>
